<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Website</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 70px;
        }

        .nav-link {
            cursor: pointer;
        }

        .tab-pane {
            padding: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Face Recognition Website</a>
    </nav>

    <div class="container">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#faceRecognition">Face Recognition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#faceSearch">Face Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#faceAnalyse">Face Analyse</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#faceFind">Face Find</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="faceRecognition" class="tab-pane fade show active">
                <h3>Face Recognition</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Sample Images:</h5>
                        <img src="{% static 'img.png' %}?v={{ timestamp }}" class="img-fluid rounded mb-3"
                            alt="Sample Face 1">
                        <img src="{% static 'img_1.png' %}?v={{ timestamp }}" class="img-fluid rounded"
                            alt="Sample Face 2">
                         <h5>It will return whether the two are the same person</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Upload Images:</h5>
                        <form id="faceRecognitionForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="file" name="image1" class="form-control-file" accept="image/*" required>
                            </div>
                            <div class="form-group">
                                <input type="file" name="image2" class="form-control-file" accept="image/*" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="faceSearch" class="tab-pane fade">
                <h3>Face Search</h3>
                <form id="faceSearchForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="image" class="form-control-file" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Search Faces</button>
                </form>
            </div>

            <div id="faceAnalyse" class="tab-pane fade">
                <h3>Face Analyse</h3>

                <form id="faceAnalyseForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="image" class="form-control-file" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Analyse Faces</button>
                </form>
            </div>
                 <div id="faceFind" class="tab-pane fade">
                <h3>Face Find</h3>
                      <div class="row">
                    <div class="col-md-6">
                        <h5>Sample Images:</h5>
                        <img src="{% static 'img.png' %}?v={{ timestamp }}" class="img-fluid rounded mb-3"
                            alt="Sample Face 1">

                         <h5>It will return the most similar one in the dataset</h5>
                    </div>
                         <div class="col-md-6">
                        <h5>Upload Images:</h5>
                <form id="faceFindForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="image" class="form-control-file" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Analyse Faces</button>
                </form>
                      </div>
                         </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Face Recognition
            $('#faceRecognitionForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    type: 'POST',
                    url: '{% url "upload_and_compare" %}',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        var resultMessage = response.verified ? 'Same person' : 'Not the same person. Similarity metric: ' + response.similarity_metric;
                        $('#resultModal .modal-title').text('Face Recognition Result');
                        $('#resultModal .modal-body').text(resultMessage);
                        $('#resultModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Face Search
            $('#faceSearchForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    type: 'POST',
                    url: '{% url "face_search" %}',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        var resultMessage = response['face_num'] + ' faces is found';
                        $('#resultModal .modal-title').text('Face Search Result');
                        $('#resultModal .modal-body').text(resultMessage);
                        $('#resultModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Face Analyse
            $('#faceAnalyseForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    type: 'POST',
                    url: '{% url "face_analyse" %}',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        var resultMessage = 'Age: ' + response['age'] + '\nGender: ' + response['gender'] + '\nEmotion: ' + response['emotion'] + '\nRace: ' + response['race'];
                        $('#resultModal .modal-title').text('Face Analyse Result');
                        $('#resultModal .modal-body').text(resultMessage);
                        $('#resultModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
            //Face find
            $('#faceFindForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    type: 'POST',
                    url: '{% url "face_find" %}',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {

                       var matchedImagePath = response['matched_image'];
                       console.log(matchedImagePath)
                    $('#resultModal .modal-title').text('Face Find Result:the most similar one:');
                    $('#resultModal .modal-body').html('<img src="' + matchedImagePath + '" class="img-fluid"/>');
                    $('#resultModal').modal('show');


                },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>

</html>